# Get a free API key from https://newsapi.org/register
NEWSAPI_KEY=7fad51a3365548f0be0e2980e0007114

# Get a free API key from https://www.pexels.com/api/
PEXELS_API_KEY=1jvn1kZ4FQO3idZUb8Mu0WEuTdHBG1j8KLOXEoD7Xr4ub7sPyfpt6nz3

# YouTube upload requires OAuth setup (see youtube_uploader.py)
